.git
.DS_Store

**/node_modules
**/.vscode-test
**/coverage
**/dist
**/out
**/target

compiler/bin
compiler/lib/*.a
compiler/coverage.out*
compiler/test.log

vscode-extension/bin
vscode-extension/*.vsix
vscode-extension/test.log

mutation_testing/mutants.out*
